@tailwind base;
@tailwind components;
@tailwind utilities;

body {
}
.dark {
  background: #181818;
}

.hero-card h2 {
  opacity: 0%;
}

.hero-card:hover h2 {
  opacity: 100%;
}
.body__overflow {
  overflow: hidden;
}
